.KW_progressContainer {
    left: 0;
    width: 100%;
    height: 0.4em;
    margin-bottom: 0px;
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: $blackDark;
    content: "";
    display: table;
    table-layout: fixed;
    z-index: 9999999999999999999;

    .KW_progressBar {
        width: 0%;
        float: left;
        height: 100%;
        z-index: 99;
        max-width: 100%;
        background-color: rgba(255, 255, 255, 0.3);
        -webkit-transition: width .6s ease;
        -o-transition: width .6s ease;
        transition: width .6s ease;
    }
}

.KW_progressContainerPage {
    left: 0;
    width: 100%;
    height: 0.4em;
    margin-bottom: 0px;
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: white;
    content: "";
    display: table;
    table-layout: fixed;
    z-index: 9999999999999999999;

    .KW_progressBar {
        width: 0%;
        float: left;
        height: 100%;
        z-index: 99;
        max-width: 100%;
        background-color: rgba($blackDark, 0.8);
        -webkit-transition: width .6s ease;
        -o-transition: width .6s ease;
        transition: width .6s ease;
    }
}