body {
    // overflow-x:hidden;
    font-family:'Titillium Web';
    background-color:white !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23bbbbbb' fill-opacity='0.3'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.sidebar {
    display:none;
}
.st0 {
    width:200px !important;
    stroke:rgb(0, 0, 0);
    stroke-miterlimit: 5px;
    stroke-dashoffset: 5px;
    stroke-width:1.5px;
}
#ehoxlogo {
    width:60px !important;
    margin:20px;
}
.project-title {
    img {
        width:100%;
    }
}
.project-header {
    font-size:40px;
    font-weight:900;
    margin-bottom:0px;
}
.small {
    font-size:17px;
}
.description {
    padding-top:50px;
    padding-bottom:50px;
    margin-top:100px;
    background-color:rgba(0,0,0,0.9);
    color:white;
    h3 {
        font-size:20px;
        font-weight:500;
        padding-top:30px;
        padding-bottom:20px;
        text-align:center;
    }
}
.row-projects {
    img {
        width:100%;
    }
}
.line {
    line-height: 1.5em;
    position: relative;
    color:rgba(255,255,255,0.7);
  }
.line:after {
    content:' ';
    position: absolute;
    top:100%;
    left:50%;
    width: 40px;
    border:2px solid #d0d0d0;
    border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    transform:translateX(-50%);
  }
  .project-list {
      padding:0px;
      padding-top:10px;
      li {
          font-size:19px;
          padding-bottom:10px;
          list-style-type: none;
          text-align:center;
          color:rgba(255,255,255,0.8);
      }
  }

  .container-title {
      padding-top:100px;
      padding-bottom:100px;
      text-align:center;
      h1 {
          font-size:35px;
          font-weight:600;
      }
  }
  .cta-button-black {
    margin-top:30px;
    font-family:'Track';
    background-color:transparent;
    border:1px solid black;
    color:black;
    padding:10px 40px;
    transition:0.3s ease;
    animation: float 2s ease-in-out infinite;
}


@media only screen and (max-width: 1024px) {
    .container-title h1 {
        font-size:30px;
    }
    .order-two {
        order:2;
    }
    .description {
        margin-top:0px !important;
    }
    .container-start {
        margin-bottom:50px;
    }
    .container-grey {
        padding-top:0px !important;
    }
}
.bold {
    font-weight:900;
    color:rgb(140, 0, 255);
}
.cta-button-black:hover {
    background-color:black;
    color:white;
}
.container-grey {
    background-color:rgba(246, 248, 250, 0.6);
    padding-top:50px;
    padding-bottom:50px;
}
.case-study-image {
    width:100%;
}